

.nav-wrapper{
  position: relative;
  padding-top: 0%;
  background-color: #900048;

}

body{
  background-color: #240041;
  margin: 0px;
  padding: 0px;

}

input.btn.waves-effect.waves-light {
  background-color: #FF8260;
}

label.col-md-2.control-label{
  color: white;
}

h3{
  color: white;
  text-align: center;
}

input.form-control{
  position: relative;
  color: white;
}

div.component{

  
}


a.brand-logo{
  margin-left: 20px;
}

.footer{
  color: white;
}

.hidden{
  display: none;
}