

.nav-wrapper{
  position: relative;
  padding-top: 0%;
  background-color: #900048;

}

body{
  background-color: #240041;
  margin: 0px;
  padding: 0px;
  padding-top: 70px;

}

input.btn.waves-effect.waves-light {
  background-color: #FF8260;
}

label.col-md-2.control-label{
  color: white;
}

h3{
  color: white;
  text-align: center;
}

input.form-control{
  position: relative;
  color: white;
}



a.brand-logo{
  margin-left: 20px;
}

.footer{
  color: white;
}

.hidden{
  display: none;
}

a.waves-effect.waves-light.btn-small {

  background-color: #FF8260;

}
p {
  text-decoration-color: white;
  color: white;
}

div.container-fluid {
  background-color: #900048;

}

nav.navbar.navbar-default.navbar-fixed-top {
  background-image: none;
  background-color: #900048 !important;
  border-bottom: 1px solid #900048;
}

button#submitGallerie.waves-effect.waves-light.btn-small {

  background-color: #FF8260;

}

label {
  color: white;
}

input {
  color: white;
  text-decoration-color: white;
}