

.nav-wrapper{
  position: relative;
  padding-top: 0%;
  background-color: #900048;

}

body{
  background-color: #240041;
  margin: 0px;
  padding: 0px;
  padding-top: 70px;

}

input.btn.waves-effect.waves-light {
  background-color: #FF8260;
}

label.col-md-2.control-label{
  color: white;
}

h3{
  color: white;
  text-align: center;
}

input.form-control{
  position: relative;
  color: white;
}



a.brand-logo{
  margin-left: 20px;
}

.footer{
  color: white;
}

.hidden{
  display: none !important;
}

/* Anzeige von gallerien */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin: 7px !important;
}

.card:hover {
  box-shadow: 3px 8px 16px 4px #900048;
}

.container {
  padding: 5px;
}
.beschreibung-gallerie{
  font-size: 11px;
  color: black;
}

.name-gallerie{
  font-size: 11px;
<<<<<<< HEAD
}
=======
  color: black;
}

>>>>>>> 51ef90209a6d8a17cadd897d49b2b8042dcda926
a.waves-effect.waves-light.btn-small {

  background-color: #FF8260;

}
p {
  text-decoration-color: white;
  color: white;
}

div.container-fluid {
  background-color: #900048;

}

nav.navbar.navbar-default.navbar-fixed-top {
  background-image: none;
  background-color: #900048 !important;
  border-bottom: 1px solid #900048;
}

button#submitGallerie.waves-effect.waves-light.btn-small {

  background-color: #FF8260;

}

label {
  color: white;
}

input {
  color: white;
  text-decoration-color: white;
}